name: Scheduled Jobs

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  actions: none
  issues: none
  pull-requests: none
  security-events: none

jobs:
  security_audit:
    name: Vulnerabilities Scan
    permissions:
      contents: read
      actions: read           # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
    uses: complytime/org-infra/.github/workflows/reusable_scheduled.yml@main
