name: Vulnerabilities Check

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  issues: none
  pull-requests: none
  actions: none
  security-events: none

jobs:
  security_audit:
    name: OVS-Scanner
    permissions:
      actions: read           # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
      security-events: write  # Require writing security events to upload SARIF file to security tab
    uses: complytime/org-infra/.github/workflows/reusable_vuln_scan.yml@main
    with:
      default-branch: "${{ github.ref_name }}"
