name: Demo Secrets
on: [workflow_dispatch]

permissions: {}

jobs:
  demo:
    runs-on: ubuntu-latest
    env:
      SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Sops
        run: |
          curl -LO https://github.com/getsops/sops/releases/download/v3.11.0/sops-v3.11.0.linux.amd64
          mv sops-v3.11.0.linux.amd64 /usr/local/bin/sops
          chmod +x /usr/local/bin/sops

      - name: Verify Decryption
        run: |
          RESULT=$(sops --extract '["my_secret"]' -d secrets.enc.yaml)
          if [ -n "$RESULT" ]; then
            echo "Secrets decrypted successfully!"
          else
            echo "Failed to decrypt."
            exit 1
          fi
