name: Reusable Vulnerabilities Scan

# --------------------------------------------------------------------------
# This workflow only runs when explicitly called by another workflow.
# --------------------------------------------------------------------------
on:
  workflow_call:
    inputs:
      scan-args:
        description: 'Additional arguments to pass to osv-scanner'
        required: false
        type: string

# This workflow is passive so ensure the minimal permissions even if the
# inherited token is more lenient.
permissions:
  contents: read
  issues: none
  pull-requests: none
  actions: none
  security-events: none

jobs:
  call_ext_osv_scanner:
    name: OSV-Scanner
    # https://google.github.io/osv-scanner/github-action/
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@b77c075a1235514558f0eb88dbd31e22c45e0cd2 # v2.3.0
    permissions:
      contents: read
      actions: read           # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
      security-events: write  # Require writing security events to upload SARIF file to security tab
    with:
      scan-args: "${{ inputs.scan-args }}"
      fail-on-vuln: true
      upload-sarif: true
      results-file-name: osv-scanner-pr-results-${{ github.workflow }}-${{ github.job }}.sarif
